@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
button {
  font-family: "Lexend Deca", sans-serif;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

p {
  font-size: 15px;
  line-height: 1.6;
}

.btn {
  background-color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.column1 {
  background-color: hsl(31, 77%, 52%);
  color: #fff;
  border-radius: 10px 10px 0 0;
}

.column1 .btn {
  color: hsl(31, 77%, 52%);
}

.column2 {
  background-color: hsl(184, 100%, 22%);
  color: #fff;
}

.column2 .btn {
  color: hsl(184, 100%, 22%);
}

.column3 {
  background-color: hsl(179, 100%, 13%);
  color: #fff;
  border-radius: 0 0 10px 10px;
}

.column3 .btn {
  color: hsl(179, 100%, 13%);
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.container {
  padding: 20px;
}

.card {
  padding: 30px;
}

.card img {
  margin-bottom: 25px;
}

.card h3 {
  margin-bottom: 20px;
}

.card p {
  margin-bottom: 30px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 992px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    min-height: 100vh;
    margin: auto;
  }

  .column1 {
    border-radius: 10px 0 0 10px;
  }

  .column3 {
    border-radius: 0 10px 10px 0;
  }

  .card {
    padding: 45px;
  }

  .card p {
    margin-bottom: 80px;
  }
}
